$border-color: rgba(128, 128, 128, 0.45);

.green {
      color: #7bd500!important;
      
      .icon { 
          > svg {
              > path {
                  fill: #7bd500!important;
              }
          }
      }
}

$bs-blue: #d5ba48;