.json-inspector,
.json-inspector__selection {
    font: 14px/1.4 Consolas, monospace;
}

.json-inspector__leaf {
    padding-left: 10px;
}

.json-inspector__line {
    display: block;
    position: relative;

    cursor: default;
}

.json-inspector__line:after {
    content: '';

    position: absolute;
    top: 0;
    left: -200px;
    right: -50px;
    bottom: 0;
    z-index: -1;

    pointer-events: none;
}

.json-inspector__line:hover:after {
    background: rgba(0, 0, 0, 0.06);
}

.json-inspector__leaf_composite > .json-inspector__line {
    cursor: pointer;
}

.json-inspector__radio,
.json-inspector__flatpath {
    display: none;
}

.json-inspector__value {
    margin-left: 5px;
}

.json-inspector__search {
    min-width: 300px;
    margin: 0 10px 10px 0;
    padding: 2px;
}

.json-inspector__key {
    color: #000000;;
}

.json-inspector__value_helper,
.json-inspector__value_null,
.json-inspector__not-found {
    color: #000000;
}

.json-inspector__value_string {
    color: #000000;
}

.json-inspector__value_boolean {
    color: #000000;
}

.json-inspector__value_number {
    color: #000000;
}

.json-inspector__hl {
    background: rgb(0, 0, 0);
    box-shadow: 0 -1px 0 2px rgb(0, 0, 0);
    border-radius: 2px;
}

.json-inspector__show-original {
    display: inline-block;
    padding: 0 6px;

    color: rgb(0, 0, 0);
    cursor: pointer;
}

.json-inspector__show-original:hover {
    color: #111;
}

.json-inspector__show-original:before {
    content: '⥂';
}

.json-inspector__show-original:hover:after {
    content: ' expand'
}

.outline-block-time {
    margin-top: 30px;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgb(122, 122, 122);
}
