@mixin color($font-color, $bg-color, $is_imp: false) {
    @if $is_imp == false {
        color: $font-color;
        background-color: $bg-color;
    } @else {
        color: $font-color !important;
        background-color: $bg-color !important;
    }
}

//buttons
@mixin button-focus($color, $bg-color, $number) {
    color: lighten($color, $number);
    background-color: lighten($bg-color, $number);
    //not good in dark theme
    //border-color: lighten($color, $number);
}

@mixin image($color) {
    @if $color == #fff {
        background: url(../ul-arrow-black.png) no-repeat left 8px;
    } @else {
        background: url(../ul-arrow.png) no-repeat left 8px;
    }
}