label.horizontal {
    > input {
        display: inline;
        width: auto;
    }
}

.form-label.select {
    padding: 0;
    border: none;

    select {
        margin: 0;
        border: none;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        font-size: 0.875rem;
    }
}

.has-error input,
.has-error select,
.has-error textarea {
    border-color: #a94442;
}

.autocomplete > .action-sheet-container {
    display: flex;
    > .action-sheet {
        left: 6em;
    }
}

td > input,
td > .autocomplete input {
    margin: 0 !important;
}

.form-group {
    margin-bottom: 2rem;
}

.account-select {
    width: auto;
}

div.account-image {
    .icon.key > svg {
        height: 2.4rem !important;
        width: 2.4rem !important;
    }
}

.asset-select {
    .ant-select {
        width: 100%;
    }
}

.asset-input.with-action {
    .ant-input {
        width: auto;
    }
}

.asset-selector {
    .error-area {
        position: absolute;
    }
}

.asset-input.ant-form-item {
    background-color: #240000!important;
    .ant-form-item-control {
        max-width: none;
    }
    .ant-form-item-label {
        label {
            text-transform: uppercase;
        }
    }
}

.account-selector,
.pubkey-input {
    clear: right;
    input {
        display: block;
        flex: auto;
    }

    .tooltip {
        &:hover {
            cursor: pointer;
        }
    }

    .header-area {
        margin-left: 3.5rem;
    }
    .error-area {
        position: absolute;
        padding-left: 3.5rem;
    }
    .account-image {
        float: left;
        width: 3.5rem;
        > canvas,
        .icon.key > svg {
            height: 2.4rem !important;
            width: 2.4rem !important;
        }
    }
    > .content-area {
        //width: 100%;
        position: relative;
        width: 100%;
        display: inline-block;

        @include breakpoint(small only) {
            width: 100%;
        }
    }
}

.error-area {
    min-height: 2rem;
    font-size: 0.875rem;
    line-height: normal;
}

.right-label,
.left-label {
    font-size: 90%;
    text-transform: uppercase;
    font-variant: small-caps;
    padding-bottom: 5px;
}

.right-label {
    float: right;
}

div.transfer-input {
    //width: 100%;
    width: 100%;
    display: inline-block;

    &.fee-row {
        border-top: 1px solid $border-color;
        padding-top: 2rem;
        position: relative;
    }

    &.fee-row {
        > .amount-selector {
            width: calc(100% - 6.6rem);
        }
        &.proposal > .amount-selector {
            width: calc(100% - 9rem);
        }
        > button {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 1.3rem;
            border-radius: 5px;
        }
    }

    @include breakpoint(small only) {
        width: 100%;

        &.fee-row {
            > .amount-selector {
                width: 100%;
                padding-bottom: 20px;
            }

            > button {
                position: inherit;
            }
        }
    }
}

.dropdown-wrapper {
    /* Size & position */
    position: relative;
    margin: 0 auto;
    padding: 12px 15px;

    /* Styles */
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;

    &.inactive {
        cursor: default;
    }

    > div:first-of-type {
        font-size: 0.875rem;
        @include RobotoMedium;

        > span.hidden {
            visibility: hidden;
        }
    }

    &.active {
        border-radius: 5px 5px 0 0;
        box-shadow: none;
        border-bottom: none;
    }

    &.active .dropdown {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        max-height: 400px;
    }

    ul.dropdown {
        /* Size & position */
        min-width: 200px;
        position: absolute;
        top: 2.4rem;
        right: 0;
        z-index: 999;
        margin-left: 0;

        /* Styles */
        background: #fff;
        border-radius: 0 0 5px 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-top: none;
        border-bottom: none;
        list-style: none;
        transition: all 0.3s ease-out;

        /* Hiding */
        max-height: 0;
        overflow: hidden;

        > li {
            width: 100%;

            &:last-of-type span {
                border: none;
            }

            > span {
                font-size: 0.875rem;
                @include RobotoMedium;
                display: block;
                text-decoration: none;
                color: #333;
                padding: 10px 10px;
                transition: all 0.3s ease-out;
            }
            i {
                margin-right: 5px;
                color: inherit;
                vertical-align: middle;
            }
        }
    }
}
.dropdown-wrapper:after {
    /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
}
.dropdown-wrapper.inactive:after {
    border: 0;
}

div.account-drop-down > div.dropdown-wrapper:after {
    z-index: -1;
}

div.input-wrapper {
    position: relative;
    width: 100%;
    div.floating-dropdown {
        background: transparent;
        position: absolute;
        right: 0;
        text-align: right;
    }
}

div.ok-indicator {
    position: absolute;
    top: 11px;
    right: 10px;
}

div.dropdown-wrapper.upper-case {
    > div,
    > ul > li {
        text-transform: uppercase;
    }
}

form.full-width {
    section > input {
        max-width: 100%;
    }
}

#send_modal_header,
#send_modal_portfolio {
    padding-left: 20px;
    padding-right: 20px;
    .right-label,
    .left-label {
        padding-bottom: 0px;
    }
    .dropdown-wrapper.active .dropdown {
        max-height: 250px;
    }
    #txFeeSelector .dropdown-wrapper.active .dropdown {
        max-height: 100px;
    }
    .account-selector .error-area {
        display: none;
    }
    .account-select {
        width: 100%;
    }
}

#send_modal_header,
#send_modal_portfolio {
    padding-left: 20px;
    padding-right: 20px;
    .right-label,
    .left-label {
        padding-bottom: 0px;
    }
    .dropdown-wrapper.active .dropdown {
        max-height: 250px;
    }
    #txFeeSelector .dropdown-wrapper.active .dropdown {
        max-height: 100px;
    }
    .account-selector .error-area {
        display: none;
    }
}

button.red,
button.green,
button.blue {
    padding: 10px 0px 10px 0px;
    width: 8rem;
    color: rgb(242, 242, 242);
    font-size: 0.875rem;
    font-weight: normal;
}
button.red {
    background-color: rgb(245, 27, 27);
}
button.green {
    background-color: rgb(48, 185, 14);
}
button.blue {
    background-color: rgb(65, 116, 184);
}
button.disabled {
    background-color: rgb(77, 94, 116);
}

.button.hollow {
    background-color: transparent;
    @include RobotoCondensed;

    &:hover {
        color: #fff;
    }
}

a.button span {
    color: #fff;
}

.button.hollow.primary {
    border-color: $bs-blue;
    color: $bs-blue !important;
    background: transparent;

    &:hover {
        color: #fff !important;
    }
}

.market-button {
    margin: 1rem 0;
}

input[type="text"].input-button {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
