$ant-fix: ':not([class*="ant-"])';
.ant-modal-footer {
    background-color: #240000!important;
}

.ant-modal-body {
    background-color: #240000!important;
}

.ant-modal-header {
    background-color: #240000!important;
}

.ant-select-selection {
    background-color: black!important;
}

.ant-input {
    background-color: black!important;
}
.ant-form-item {
    background-color: #240000!important;
    .ant-form-item-label {
        label {
            text-transform: none;
            font-family: Roboto, sans-serif;
            font-weight: 400;
            display: inline;
        }
    }
}

.ant-select-dropdown-menu {
    margin-left: 0;
    font-size: 14px;
}
