// main colors

$primary-background: #000000;
$primary-border-color: #000000;
$primary-background-active: $primary-border-color;

$layout-top-button-border-color: $primary-background;

$primary-text-color: #ffffff;
$primary-text-color-active: #fcfcfc;

$button-success-color: #fff;
$button-success-border: $primary-text-color-active;
$button-success-background: $primary-text-color-active;

$button-default-color: $primary-text-color;
$button-default-border: $primary-background-active;
$button-default-background: $primary-background-active;

$button-cancel-color: $primary-text-color;
$button-cancel-border: $primary-background-active;
$button-cancel-background: $primary-background-active;

$primary-btn-color: $primary-text-color;
$primary-btn-background: #262626;
$primary-btn-background-active: #2d2d2d;
$primary-btn-border-active: $primary-background-active;

$icon-light-color: $primary-text-color;
$icon-light-color-active: $primary-text-color-active;

@import "../base";
