@import "theme-template";

// variables

$light-text-color: #fff;
$dark-text-color: rgb(255, 255, 255);
$primary-text-color: #ffffff;
$secondary-text-color: white;
$inactive-text-color: black;
$link-text-color: #fcab53;
$error-text-color: #ff3950;

$settings-select-bg: #270303;
$settings-select-color: darken($primary-text-color, 20%);
$settings-api-node-border-color: #640000;
$main-content-margin-block-bg-color: #ff0000;
$top: #000000;
$bottom: #000000;
$bg-color: rgb(0, 0, 0);
$bg-color-mixin: #240000;
$panel-bg-color: #000000;
$light-panel-bg-color: #8f0c0c;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$settings-menu-hover-bg: darken($light-panel-bg-color, 20%);
$settings-menu-active-bg: darken($light-panel-bg-color, 20%);
$button-bg-color: #000000;
$secondary-button-bg-color: #ff0f0f;
$input-background: lighten($bg-color, 1%);

$alert-color: $error-text-color;
$info-color: #a0d3e8;
$success-color: #7bd500;
$warning-color: #fcab53;
$fee-color: $secondary-text-color;

// Exchange colors
$bid-color: #6ba583;
$ask-color: #e3745b;
$call-color: #bbbf2b;
$positive-color: #258a14;
$negative-color: #ff3950;
$row-accent-color: #a70707;
$header-color: #000000; // do not touch

$button-mix1: #874002;
$button-mix2: #d5ba48;
// Account table view colors
$account-header: #1f1f1f; // do not touch
$account-cells: black; // do not touch
$account-green: #7ed321;
$account-primarytext: white;
$account-dimmed: #707070;
$account-border: #d5ba48;
$account-background: black; // do not touch
$account-tabs-background: white;

$pulsate-green-start: $account-green;
$pulsate-green-end: #d5ba48;
$pulsate-red-start: $negative-color;
$pulsate-red-end: #ef4040;

$modal-bg-color: white;

$mobile-input-bg: #2d2d2d;

$slider-thumb-color: #d5ba48;

$incognito-bg: #d5ba48;

$tab-content-background-color: lighten($account-header, 4%);
$explorer-tab-content-background-color: $bg-color;

// * * * Explorer

// * * * * * Witnesses

$explorer--witnesses--info-bg: transparent;
$explorer--witnesses--info-border: darken($account-header, 6%);
$explorer--witnesses--info-table-title-color: $account-dimmed;
$explorer--witnesses--info-table-text-color: #fff;

// * * * * * Assets

$explorer--assets--bg: $bg-color;

$positive-color-alternative: #22d173;
$negative-color-alternative: #ff276d;
$medium-color: #ff9900;
$dark-help-text: #171a25;
$separator-line: rgba(23, 26, 37, 0.3);

// * * *

.darkTheme {
    @include theme(
        $bg-color-mixin,
        $explorer-tab-content-background-color,
        $tab-content-background-color,
        $primary-text-color,
        $bg-color,
        $dark-text-color,
        $inactive-text-color,
        $link-text-color,
        $light-text-color,
        $secondary-text-color,
        $success-color,
        $info-color,
        $warning-color,
        $alert-color,
        $super-light-panel-bg-color,
        $panel-bg-color,
        $button-bg-color,
        $secondary-button-bg-color,
        $fee-color,
        $bid-color,
        $ask-color,
        $call-color,
        $light-panel-bg-color,
        $positive-color,
        $negative-color,
        $row-accent-color,
        $header-color,
        $input-background,
        $account-header,
        $account-cells,
        $account-green,
        $account-primarytext,
        $account-dimmed,
        $account-border,
        $account-background,
        $account-tabs-background,
        $pulsate-green-start,
        $pulsate-green-end,
        $pulsate-red-start,
        $pulsate-red-end,
        $settings-select-bg,
        $settings-select-color,
        $settings-menu-hover-bg,
        $settings-menu-active-bg,
        $settings-api-node-border-color,
        $main-content-margin-block-bg-color,
        $modal-bg-color,
        $mobile-input-bg,
        $incognito-bg,
        $button-mix1,
        $button-mix2,
        $explorer--witnesses--info-bg,
        $explorer--witnesses--info-border,
        $explorer--witnesses--info-table-title-color,
        $explorer--witnesses--info-table-text-color,
        $explorer--assets--bg,
        $negative-color-alternative,
        $positive-color-alternative,
        $separator-line,
        $medium-color,
        $dark-help-text
    );
}
